<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face-Login</title>
    <script src="/static/js/jquery.js"></script>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>

    <header>
        <nav>
            <h2><a href="/"> Face-Login </a> </h2>
            <ul>
                {% if session %}
                <!-- <li>{{ session['user']['name'] }}</li> -->
                <li class="welcome"> {{ session['user']['name'] }} </li>
                <li><a href="/user/logout" class="btn">Log Out</a></li>
        
                {% else %}
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/login-recog">Login-Recog</a></li>
                <li><a href="/user/signup" class="btn">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock %}

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>

</body>
</html>