{% extends "base.html" %}

{% block content %}

    <div class="card-wrapper">
        <div class="card">
            <!-- <button onclick=startCamera();> start camera</button> -->
            <!-- <button style="float: right;" onclick=stopVideo();> stop camera</button> -->
            <h1 class="center">Home Page</h1>
           
        </div>
    </div>

    <!-- <div class="cmr">
            <div class="contentarea">
                <h1>
                    Using Javascript to capture Photo
                </h1>
                
                <div class="cr-dis">
                    <div class="camera">
                        <video id="video">Video stream not available.</video>
                        <div><button id="startbutton">Take photo</button></div>
                    </div>
                    
                    <canvas id="canvas"></canvas>
                    <div class="output">
                        <img id="photo" alt="The screen capture will appear in this box.">
                        <button  id="uploadbutton"  >Upload Img</button>
                    </div>
                </div>
                
            </div>
    </div> -->

    <script>

        window.onload = ()=>{
            //startCamera();
        };
        
        stopVideo =   function() {
                var videoEl = document.getElementById('video');
                stream = videoEl.srcObject;
                tracks = stream.getTracks();
                tracks.forEach(function (track) {
                    track.stop();
                });
                videoEl.srcObject = null;
            };
           

                              startCamera =  function () {

                                    var width = 320; // We will scale the photo width to this
                                    var height = 0; // This will be computed based on the input stream

                                    var streaming = false;

                                    var video = null;
                                    var canvas = null;
                                    var photo = null;
                                    var startbutton = null;

                                   // function startup() {
                                        video = document.getElementById('video');
                                        canvas = document.getElementById('canvas');
                                        photo = document.getElementById('photo');
                                        startbutton = document.getElementById('startbutton');

                                        navigator.mediaDevices.getUserMedia({
                                            video: true,
                                            audio: false
                                        })
                                            .then(function (stream) {
                                                video.srcObject = stream;
                                                video.play();
                                            })
                                            .catch(function (err) {
                                                console.log("An error occurred: " + err);
                                            });

                                        video.addEventListener('canplay', function (ev) {
                                            if (!streaming) {
                                                height = video.videoHeight / (video.videoWidth / width);

                                                if (isNaN(height)) {
                                                    height = width / (4 / 3);
                                                }

                                                video.setAttribute('width', width);
                                                video.setAttribute('height', height);
                                                canvas.setAttribute('width', width);
                                                canvas.setAttribute('height', height);
                                                streaming = true;
                                            }
                                        }, false);

                                        let mns = 0;
                                        take_picture = ()=>{
                                             
                                            setTimeout(()=>{
                                                takepicture()
                                                console.log("done",mns);
                                                mns++;
                                                if(mns<5){
                                                    take_picture();
                                                }else{
                                                    stopVideo();
                                                }
                                            },1000)
                                                   
                                            
                                        }

                                        startbutton.addEventListener('click', function (ev) {
                                           take_picture(); 
                                            ev.preventDefault();
                                        }, false);

                                        clearphoto();
                                  //  }


                                    function clearphoto() {
                                        var context = canvas.getContext('2d');
                                        context.fillStyle = "#AAA";
                                        context.fillRect(0, 0, canvas.width, canvas.height);

                                        var data = canvas.toDataURL('image/png');
                                        photo.setAttribute('src', data);
                                    }

                                     function takepicture() {
                                        var context = canvas.getContext('2d');
                                        if (width && height) {
                                            canvas.width = width;
                                            canvas.height = height;
                                            context.drawImage(video, 0, 0, width, height);

                                            var data_ = canvas.toDataURL('image/png');
                                            //console.log('dataURL = ',data);
                                            photo.setAttribute('src', data_);


                                            const img = data_;
                                            //#######################
                                            const img2 = img.replace(/^data:image\/(png|jpg);base64,/, "");
                                            //console.log("img= ",img);
                                            //console.log("img2= ",img2);
                                            data = { data: img2 }

                                            $.ajax({
                                                url: '/user/upload',
                                                type: 'POST',
                                                dataType: 'json',
                                                data: JSON.stringify(data),
                                                success: function (data) {
                                                    // if (data.error) {
                                                    //    alert(data.error);
                                                    //       return;
                                                    //   }
                                                     console.log("data= ", data)
                                                     
                                                },
                                                error: function (r, s, e) {
                                                    alert("Unexpected error:" + e);
                                                    console.log(r);
                                                    console.log(s);
                                                    console.log(e);
                                                }
                                            });
                                            
                                            //#####################



                                        } else {
                                            clearphoto();
                                        }
                                        
                                    }

                                    //window.addEventListener('load', startup, false);
                                };

                                upload_img = ()=>{
                                    console.log('here2')

                                    const img = $("#photo")[0].currentSrc;  //document.getElementById("photo").src;
                                    //console.log(img);
                                    const img2 = img.replace(/^data:image\/(png|jpg);base64,/, "");
                                    data = { data: img2 }

                                    $.ajax({
                                        url: '/user/upload',
                                        type: 'POST',
                                        dataType: 'json',
                                        data: JSON.stringify(data),
                                        success: function (data) {
                                            // if (data.error) {
                                            //    alert(data.error);
                                            //       return;
                                            //   }
                                            console.log("data= ", data)
                                        },
                                        error: function (r, s, e) {
                                            alert("Unexpected error:" + e);
                                            console.log(r);
                                            console.log(s);
                                            console.log(e);
                                        }
                                    });

                                    
                                }

                                $("#uploadbutton").click(function () {
                                        upload_img();

                                    });
                              
           
    </script>

{% endblock %}